@import url("https://fonts.googleapis.com/css2?family=Open Sans:ital,wght@0,400;0,900;1,700&display=swap");

:root
{
    --font: "Open Sans";
    --normal_font: 400;
	--bold_font: 700;
	--bolder_font: 900;
    --color1: #F2D0A9;
    --color2: #D88C9A;
    --color3: #F1E3D3;
    --color4: #99C1B9;
    --color5: #8E7DBE;
}

body
{
    font-family: var(--font);
    background-color: var(--color1);
}

/* center everything */

.game
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.title
{
    position: absolute;
    top: 0;
    z-index: 2;
}

.scores
{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 70px;
    z-index: 1;
}